# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]

# Virtual environment folders
env/
venv/

# VSCode settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Log files
*.log
